.middle-bottom-mosque{
    color: white;
    display: flex;
    flex-direction: column;
}
.middle-bottom-mosque-footer{
    color: white;
    background-color: rgb(255, 126, 126);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.middle-footer-mosque-content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 70px;
}

.list-item {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    gap: 5px;
  }

  
  .middle-bottom-mosque-content{
    padding: 5px;
  }