.left-top {
    border: none;
    color: white;
    
}
.left-top .ant-list-bordered {
    border-radius: 0;
  }

  /* Scroll bar'ı inceltme */
::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
.list-item{
    display: flex;
    align-items:center ;
    width: 100%;
    align-items: center;
    gap: 5px;
}