.middle-left-bottom {
  color: white;
  display: flex;
  flex-direction: column;
}

.middle-left-bottom-footer {
  color: white;
  background-color: rgb(255, 126, 126);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;

}
.middle-left-footer-content{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 70px;
}

.list-item {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  gap: 5px;
}

.middle-left-bottom-content {
  padding: 5px;
}

