.middle-bottom-education{
    color: white;
}
.middle-bottom-education-footer{
    position: fixed; 
    color: white;
    background-color: rgb(255, 126, 126);
    height: 100%;
    width: 60px;
    display: flex;    
    justify-content: center;
}


.list-item {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    gap: 5px;
  }

  
  .middle-bottom-education-content{
    margin-left: 55px;
  }