.section-top-left {
    position: fixed;
    height: 60%;
    width: 250px;
    overflow-y: auto;
    overflow-x: auto;

    background-color: rebeccapurple;
    top: 50px;
    left: 0%;
    border-right: 1px solid white;

}

.section-top-right {
    position: fixed;
    height: 60%;
    width: 250px;
    background-color: rebeccapurple;
    top: 50px;
    right: 0%;
    border-left: 1px solid white;
    overflow-y: auto;
    overflow-x: auto;
}
.section-add-model {
    position: fixed;
    height: calc(100% - 80px);
    width: 250px;
    background-color: rgb(240, 226, 255);
    top: 50px;
    right: 0%;
    border-left: 1px solid white;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 50;
}

.bottom {
    position: fixed;
    height: calc(40% - 80px);
    width: 100%;
    background-color: rebeccapurple;
    bottom: 30px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-bottom {
    border-right: 1px solid white;
    width: 100%;
    height: calc(100%);
    overflow-y: auto;
}

.layer-button {
    position: absolute;
    z-index: 1;
    right: 260px;
    top: 60px;
    cursor: pointer;
}

.layer-button-2 {
    position: absolute;
    z-index: 1;
    right: 260px;
    top: 100px;
    cursor: pointer;
}

.layer-button:hover {
    border-radius: 2px;
    background-color: rgb(221, 221, 221);
}

.layer-button-2:hover {
    border-radius: 2px;
    background-color: rgb(221, 221, 221);
}

.layer-content {
    position: absolute;
    top: 0%;
    right: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px #d3d3d3;
    margin-right: 25px;
    max-height: 580px;
    padding: 12px;
    width: 200px;
    height: 200px;
}

.zoom-in {
    position: absolute;
    z-index: 1;
    left: 255px;
    top: 390px;
    cursor: pointer;
    color: wheat;
}

.zoom-out {
    position: absolute;
    z-index: 1;
    left: 255px;
    top: 370px;
    cursor: pointer;
}

.table-switch {
    position: absolute;
    z-index: 1;
    top: 55px;
    cursor: pointer;
}

.bottom-mobile {  

   
}

.section-bottom-mobile {

}