.navbar-container {   
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: #4a5ae5;
    opacity: 0.9;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.navbar-container-menu {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-add-layer {
    cursor: pointer;
    color: white;
}

.navbar-add-layer:hover {
    color: #b36f30;
}
.menu-head{
    color: white;
    font-size: xx-large;
}
.menu-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.menu-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-logo{
    width: 50px;
}
