.properties-container {
  position: fixed;
  width: 300px;
  height: calc(100vh - 70px);
  background-color: rgb(255, 255, 255);
  z-index: 20;

  bottom: 0%;
  right: 0%;
  color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.properties-body {
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: auto;
  height: 80%;
  padding: 20px;
}

.properties-container-row {
  display: flex;
  gap: 10px;
  font-size: 11px;
  scrollbar-width: 2px;
}
#properties-head {
  font-size: 20px;
  text-align: center;
  padding-bottom:10px;

}
.row-first-name {
  font-weight: 900;
  color: black;

}

.row-last-name {
  color: rgb(0, 0, 0);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5C6AE8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #727ee9
}