.file-upload-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding:20px;
    cursor: pointer;
    border-radius: 10px;
}

.form-submit-button{  
    color: #fff;
    background-color: #e4e4e4;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;

  }
  .form-submit-button:hover{
    background-color: #3f8fff;
  }
 
